.house-card{
    width: 70vw;
    margin: 0rem 15vw 1rem;

    display: flex;
    justify-content: space-evenly;
    align-items: start;
}

.house-card:hover{
    cursor: pointer;
}

#title{
    color: var(--primary-color);
    border-bottom: 3px solid var(--accent-color);
    text-align: left;
    width: 70vw;
    margin: 2rem 15vw 0px;
}

mat-form-field{
    margin: 0 5px;
}

mat-card-title{
    color: var(--primary-color);
}


#form-row{
    display: flex;
}

th{
    text-align: right;
    padding-right: 5px;
    color: var(--accent-color);
    padding-bottom: 1rem;
}
td{
    text-align: left;
    padding-bottom: 0.5rem;
}

#form-wrapper{
    width: 70vw;
    margin: 1vh 15vw 0px;
}