<mat-card> 
    <form [formGroup]="houseForm" (ngSubmit)="onSubmit()">

        <mat-card-title>House Address</mat-card-title>
        <mat-card-content>
            <mat-form-field appearance="fill">
                <mat-label>Street</mat-label>
                <input matInput id="street" formControlName="street" type="text">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Building/Apt Number</mat-label>
                <input matInput id="buildaptnum" formControlName="buildaptnum" type="number">
                </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>City</mat-label>
                <input matInput id="city" formControlName="city" type="text">
            </mat-form-field>
                <mat-form-field appearance="fill">
                <mat-label>State</mat-label>
                <input matInput id="state" formControlName="state" type="text">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Zip</mat-label>
                <input matInput id="zip" formControlName="zip" type="text">
            </mat-form-field>
        </mat-card-content>
        <mat-card-title>Landlord</mat-card-title>
        <mat-card-content>
            <mat-form-field appearance="fill">
                <mat-label>First Name</mat-label>
                <input matInput id="firstname" formControlName="firstname" type="text">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Middle Name</mat-label>
                <input matInput id="middlename" formControlName="middlename" type="text">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Last Name</mat-label>
                <input matInput id="lastname" formControlName="lastname" type="text">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Phone</mat-label>
                <input matInput id="phone" formControlName="phone" type="text">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput id="email" formControlName="email" type="email">
            </mat-form-field>
        </mat-card-content>
        <mat-card-title>Facility Info</mat-card-title>
        <mat-card-content>
            <mat-form-field appearance="fill">
                <mat-label>Beds</mat-label>
                <input matInput id="beds" formControlName="beds" type="number">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Mattresses</mat-label>
                <input matInput id="mattresses" formControlName="mattresses" type="number">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Tables</mat-label>
                <input matInput id="tables" formControlName="tables" type="number">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Chairs</mat-label>
                <input matInput id="chairs" formControlName="chairs" type="number">
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit">Add House</button>
        </mat-card-actions>      
    </form>

    <h1 id="title">Houses</h1>
    <mat-card *ngFor="let house of (houseList$ | async)" class="house-card" (click)="onHouseCard(house._id)">
        <div>
            <mat-card-title>Address</mat-card-title>
            <mat-card-subtitle>
                <table>
                    <tr>
                        <th>Street:</th>
                        <td>{{house.address.street}}</td>           
                    </tr>
                    <tr>
                        <th>Building/Apt:</th>
                        <td>{{house.address.buildaptnum}}</td>           
                    </tr>
                    <tr>
                        <th>City:</th>
                        <td>{{house.address.city}}</td>           
                    </tr>
                    <tr>
                        <th>State:</th>
                        <td>{{house.address.state}}</td>           
                    </tr>
                    <tr>
                        <th>Zip:</th>
                        <td>{{house.address.zip}}</td>           
                    </tr>
                </table>
            </mat-card-subtitle>
        </div>
        <div>
            <mat-card-title>Landlord</mat-card-title>
            <mat-card-subtitle>
                <table>
                    <tr>
                        <th>Name:</th>
                        <td> {{house.landlord.lastname}}, {{house.landlord.firstname}} {{house.landlord.middlename}}</td>           
                    </tr>
                    <tr>
                        <th>Email:</th>
                        <td>{{house.landlord.email}}</td>           
                    </tr>
                    <tr>
                        <th>Phone:</th>
                        <td>{{ house.landlord.phone}}</td>           
                    </tr>
                </table>
            </mat-card-subtitle>
        </div>
        <div>
            <mat-card-title># Residents</mat-card-title>
            <mat-card-subtitle>
                <h1>{{ house.members.length }}</h1>
            </mat-card-subtitle>
        </div>
    </mat-card>
</mat-card>