<div class="pdf-overlay" *ngIf="isVisible">
    <div class="pdf-container">
      <iframe [src]="pdfUrl | safeUrl" width="100%" height="100%"></iframe>
      <div id="content">
        <div *ngIf="pdf!.status === 'Pending'" class="action-button-container">
          <button mat-button (click)="approve()">Approve</button>
          <button mat-button (click)="openFeedbackDialog()">Reject</button>
        </div>
        <div>
          <button mat-button (click)="close()" id="close-button">Close</button>
        </div>
      </div>
    </div>
</div>