<div id="employee-body">
    <mat-form-field>
        <mat-label>Search By Name</mat-label>
        <input matInput [(ngModel)]="searchText" (input)="searchEmployees()" placeholder="Name">
    </mat-form-field>

    <h2>Employee List</h2>
    <ng-container *ngIf="searchText">
        <div *ngIf="searchResults.length === 0">No records found</div>
        <div *ngFor="let employee of searchResults">
          <mat-card appearance="outlined" (click)="viewEmployee(employee.id)">
              <mat-card-header>
                <mat-card-title>{{ employee.firstName }} {{ employee.lastName }} {{ employee.preferredName }}</mat-card-title>
                <mat-card-subtitle>Dummpy Data</mat-card-subtitle>
              </mat-card-header>
              <!-- <mat-card-actions align="end">
                <button mat-button>Detail</button>
              </mat-card-actions> -->
          </mat-card>
        </div>
      </ng-container>
      <ng-container *ngIf="!searchText">
        <div *ngFor="let employee of employees">
          <mat-card appearance="outlined" (click)="viewEmployee(employee.id)">
              <mat-card-header>
                <mat-card-title>{{ employee.firstName }} {{ employee.lastName }} {{ employee.preferredName }}</mat-card-title>
                <mat-card-subtitle>Dummpy Data</mat-card-subtitle>
              </mat-card-header>
              <!-- <mat-card-actions align="end">
                <button mat-button>Detail</button>
              </mat-card-actions> -->
          </mat-card>
        </div>
      </ng-container>

</div>