<h3 (click)="switchPage(true)">Ristration Token</h3>
<h3 (click)="switchPage(false)">Onboarding Page</h3>

<div *ngIf="isTokenPage; else onboardingPage">
    <form class="example-form" [formGroup]="tokenForm" (submit)="onSendToken()">
        <mat-form-field class="example-full-width">
            <mat-label >Name</mat-label>
            <input matInput type="password" placeholder="Name" formControlName="name">
            <mat-error>required</mat-error>
          </mat-form-field>
    
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input matInput type="text" placeholder="Email" formControlName="email">
          <mat-error>required</mat-error>
        </mat-form-field>
        <br>
        <br>
        <button mat-raised-button color="primary">Send Token</button>
    </form>   
</div>

<ng-template #onboardingPage>
    <select (change)="changeFilter($event)" name="status" id="status">
        <option value="pending">Pending</option>
        <option value="rejected">Rejected</option>
        <option value="approved">Approved</option>
    </select>
    <a href="employee" target="https://http://localhost:4200/">Go to Employee</a>
    <h3> List of emloyees</h3>
    <div *ngFor="let employee of employees_data">
        <p *ngIf="employee.status === currentFilter">
            {{ employee.name}} | {{ employee.email}} | 
            <a href="javascript:void(0);" (click)="viewApplication(employee.id)">View Application</a>
        </p>
    </div>
</ng-template>