mat-card, mat-paginator{

    width: 60%;
    margin: 3vh 20vw 0;
}
#house-card{
    color: rgb(0, 0, 0, 0.54);
    font-size: medium;
    display: flex;
    justify-content: space-between;
}
h1{
    text-align: left;
    color: var(--primary-color);
}

h2{
    margin: 0;
    color: var(--accent-color);
}

#card-content{
    display: flex;
    justify-content: left;
    align-items: start;
    flex-direction: column;
    color: rgb(0, 0, 0, 0.54);
}

#card-content-member, #member-content-wrapper{
    display: flex;
}

#card-content-member > div {
    margin-right: 3rem;
}

#member-property{
    margin-right: 1rem;
}

th, td{
    text-align: left;
    padding: 2px 5px;
}

