mat-form-field{
    margin: 1rem;
}

mat-card-title{
    color: var(--primary-color);
}

mat-card{
    margin: 1rem;
    border-top: 3px solid var(--accent-color);
}

mat-label, input{
    font-size: larger;
}

fieldset{
    width: 70vw;
    margin: 1rem 15vw;
}

#button-wrapper{
    padding-bottom: 5rem
}

button{
    border-radius: 20px;
    margin: 1rem;
}

*{
    color:black;
}

#application-body{
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin: 0 15vw;
}

.card-row{
    display: flex;
}

h1{
    margin-top: 1rem;
    text-align: left;
    color: var(--primary-color);
}
