
<h1><i class="ri-message-2-line"></i>Report</h1>
<div *ngIf="report">
    <ng-container>
        <mat-card>
            <mat-card-title>
                <img matLine [src]="report.picture" alt="{{ report.title }}" width="100">
                <h3 style="color: var(--accent-color);">{{ report.name.firstname }} {{ report.name.lastname }}</h3>
                <h3 style="color: rgb(0, 0, 0, 0.54);">{{ report.timestamp | dateFormat}}</h3>
                
            </mat-card-title>
            <mat-card-subtitle>
                <h3 matLine>[{{ report.status}}] {{ report.title }}</h3>
                <p matLine>{{ report.description }}</p>
            </mat-card-subtitle>
            <mat-card-actions>
                <button mat-button (click)="toggleReport(report._id)" [ngStyle]="{'background-color': (report.status != 'Closed') ? 'var(--accent-color)' : 'lightskyblue'}">
                    {{ (report.status != 'Closed') ? 'Close' : 'Reopen'}}
                </button>
            </mat-card-actions>
        </mat-card>
    </ng-container>
</div>
  

