:root{
    --primary-color: rgb(63, 81, 181);
    --accent-color: rgb(255, 64, 129);
}


*{
    padding: 0;
    margin: 0;
    font: 1em sans-serif;
    text-align: center;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.warning-snackbar {
    background-color: white;
    color: red;

}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
