<div *ngIf="(profile$ | async) as profile" id="profile-body">
    <mat-card>
        <img id="profile-img" [src]="profile.profile.picture || ''"/>

        <mat-card-title>Name</mat-card-title>
        <mat-card-content>
            {{ profile.profile.name.firstname }}
            ({{ profile.profile.name.preferredname }}),
            {{ profile.profile.name.lastname }}
        </mat-card-content>
        <mat-card-title>Address</mat-card-title>
        <mat-card-content>
            {{ profile.profile.address.street}},
            {{ profile.profile.address.buildaptnum}},
            {{ profile.profile.address.city}},
            {{ profile.profile.address.state}},
            {{ profile.profile.address.zip}}
        </mat-card-content>
        <mat-card-title>
            Contact
        </mat-card-title>
        <mat-card-content>
            <table>
                <tr>
                    <th class="contact-type">Email:</th>
                    <td>{{ profile.profile.employee_id.email}}</td>           
                </tr>
                <tr>
                    <th class="contact-type">Work:</th>
                    <td>{{ profile.profile.phone.work}}</td>           
                </tr>
                <tr>
                    <th class="contact-type">Cell:</th>
                    <td>{{ profile.profile.phone.cell}}</td>           
                </tr>
            </table>
        </mat-card-content>
        <mat-card-title>Employment</mat-card-title>
        <ng-container *ngIf="profile.profile.citizenship; else visa">
            <mat-card-content><span class="work-type">Citizen or Permanent Resident Type:</span> {{profile.profile.citizenshiptype}}</mat-card-content>
        </ng-container>
        <ng-template #visa>
            <mat-card-content>
                <p><span class="work-type">Work Authorization:</span> {{ profile.profile.workauth.workauth}}</p>      
                <table>
                    <tr>
                        <th class="work-type">Title:</th>
                        <td>{{ profile.profile.workauth.title}}</td>           
                    </tr>
                    <tr>
                        <th class="work-type">Date:</th>
                        <td>From {{ profile.profile.workauth. enddate | date}} To {{ profile.profile.workauth.startdate | date}}</td>           
                    </tr>
                </table>
            </mat-card-content>
        </ng-template>
        <mat-card-title>Contacts</mat-card-title>
        <ng-container *ngIf="profile.profile.contacts.length !== 0">
            <mat-card-content>
                <table>
                    <tr>
                        <td class="contacts-header">Name</td>
                        <td class="contacts-header">Email</td>
                        <td class="contacts-header">Phone</td>
                        <td class="contacts-header">Relationship</td>
                    </tr>
                    <ng-container *ngFor="let contact of profile.profile.contacts">
                        <tr>  
                            <td class="contacts-data">{{ contact.firstname}} {{ contact.middlename}}, {{ contact.lastname}}</td>
                            <td class="contacts-data">{{ contact.email}} </td>
                            <td class="contacts-data">{{ contact.phone}}</td>
                            <td class="contacts-data">{{ contact.relationship}} </td>
                        </tr>      
                    </ng-container>
                </table>
            </mat-card-content>
        </ng-container>
    </mat-card>
    <div id="file-column">
        <div class="file-card" *ngFor="let file of fileList">
            <app-pdf-viewer #pdfViewer></app-pdf-viewer>
            <div (click)="openPdf(file)">
                <p >{{file.filename}}</p>
                <p class="file-status" *ngIf="file?.fileType != 'license'">{{ file.status }}</p>
            </div>
        </div>
    </div>
</div>