.my-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}


.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
.example-full-width {
    width: 100%;
}

form > *{
    margin: 1rem 0;
}

form > input {
    color: #D9D9D9
}

