.my-div{
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30vw;


    padding: 0 5vw;
}


form > mat-form-field {
    padding: 1rem 0;
}


button{
    width: 30%;
    margin: 0 35%;
}

#logout-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

#logout-button{
    font-size: larger;
    width: 5rem;
}