.home {
    position: absolute;
    left: 0;
    padding-left: 2vw;
}


.home:hover{
    cursor: pointer;
}


/* Material UI */
#material-nav {
    display: flex;
    justify-content: flex-end;
    border-bottom: 5px solid var(--accent-color);
}


#material-nav > button{
    height: 50%;
    padding: 0 2vw;
    margin: 0 1vw;
    display: flex;
    align-items: center;
    font-size: large;
    color: white;
}

